[Unit]
Description=Jackett Daemon
After=network.target

[Service]
SyslogIdentifier=jackett
Restart=always
RestartSec=5
Type=simple
User=jackett
Group=jackett
WorkingDirectory=/var/lib/jackett
ExecStart=/opt/jackett/jackett --NoUpdates
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
